
body {
  margin: 0;
  height: 100vh;
  display: flex;
  /* font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  letter-spacing: 5px; */
  background-color: #edeae8;
}

.main-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 40px;
}



h6 .color {
  color: #edeae8;
}

h2.color {
  color: #edeae8;
  
}


.sidebar-header,
.sidebar-footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  width: 100%; /* Make header and footer the same width as the sidebar */
}

/* Align the header and footer next to the sidebar */
.content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  flex: 1;
}


.sidebar {
  width: 300px;
  background-color: #769d88;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /*Align top */
  /* justify-content: space-between; */
  padding: 20px 10px;
  height: 100vh; /* Full viewport height */
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Adjust the logo size */
.sidebar-logo img {
  max-width: 200px;   /* Limit width */
  max-height: 200px;  /* Limit height */
  object-fit: contain; /* Keep aspect ratio */
  margin-bottom: 10px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  /*justify-content: center; /* Align items to the top */
  justify-content: center;
  align-items: flex-start; /* Ensure menu items are left-aligned */
  flex-grow: 1; /* Push the menu to fill the space */
}

.nav-pills .nav-link {
  color: white;
  margin-bottom: 10px; /* Add space between menu items */
  font-size: medium;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #617d6e;
}

.main-content {
  flex: 1;
  padding: 40px;
}


a.nav-link.title {
  font-size: 15px;
  font-weight:700;
  color: #edeae8;
}

a.nav-link.smaller {
  font-size: 12px;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
    background-color: #86a585;
    color: white;
    border: none;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
  }
}